*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(247, 251, 255);
    font-family: Georgia, 'Times New Roman', Times, serif
}
nav{

    width: 100%;
    box-shadow: 0 10px 14px rgba(37, 37, 37, 0.736);
}
menu{

    width: 100%;
    height: 60px;

    background-color: rgb(55, 55, 55);
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right a{

    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}
.center{

    display: flex;
    gap: 30px;
    font-size: 15px;
}
.center a{

    color: whitesmoke;
    text-decoration: none;
    transition: .25s;
    letter-spacing: 2px;
}
.center a:hover{

    color: white;
    transition: .25s;
    text-shadow: 0px 0px 1px white;
    transform: scale(1.1);
}
form input{

    padding: 6px 7px;
}
button{

    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;

    padding: 6px 12px;
    margin-left: 8px;
}
